.menu{
    border: solid black 1px;
    width: 34%;
    height: 100%;
    display: inline-block;
    float: left;
    margin-right: 3px;
    margin-left: 3px;
    background-color: #7E998A;
}

.text{
    margin-left: 15px;
}
.list{
    margin-left: 40px;
}

#button{
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 15px;
    width:50%
}
