.contentbox{
    background-color: #85877C;
    width: 75%;
    height: 100%;
    margin: auto;
    margin-bottom: 25px;
}

body{
    background-color: #85877C;
}

.header{
    text-align: center;
}

.loginbox{
    border: 1px solid black;
    background-color:#7E998A;
    width: 400px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.textinputcontainer{
    width: 125px;
    margin:  auto;
    
}
.textinput{
    width: 100%;
    margin:  auto;
    


}


button {
    width: 100%;
    margin:  auto;
  }
.logincontainer{
    width: 75px;
    margin:  auto;
    
}